.Preparation {
    background-color: hsl(330, 100%, 98%);
    margin-bottom: 7px;
    padding: 22px 28px 20px;
    border-radius: 15px;

    .headline {
        color: hsl(332, 51%, 32%);
        font-size: 20px;
        margin-bottom: 11px;
        font-weight: 600;;
    }

    @media screen and (max-width: 736px){
        margin-left: 32px;
        margin-right: 32px;
        padding: 17px 24px 20px;
        margin-bottom: 3px;
    }
}
