:root {
    /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
    line-height: 1.2;
    font-weight: 400;
    font-size: 16px;
    background-color: hsl(30, 54%, 90%);

    --colorH2: hsl(14, 45%, 36%);
    --colorH3: hsl(332, 51%, 32%);
    --bgContent: hsl(0, 0%, 100%);
    --bgPreparationTime: hsl(330, 100%, 98%);

    --borderRadius: 20px;
}

#app {
    background-color: #fff;
    max-width: 800px;
    padding: 30px;
    margin: 50px auto;
}
